header {
  z-index: $z-header;
  position: fixed;
  width: 100%;
  background-color: rgba($color: $color-gray-light, $alpha: 0.7);
  backdrop-filter: blur(12px);
  transition: $transition-default;

  height: $height-header-pc;

  &.hide {
    transform: translateY(-100%);
  }

  .con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;

    &.div:after {
      transition: $transition-default;
    }
  }

  .header-logo {
    width: $height-headerLogo-pc;
    height: $height-headerLogo-pc;
    display: inline-block;
    position: relative;

    .logo {
      width: 100%;
    }

    .logo-w {
      transition: $transition-default;
      transition-delay: .5s;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      opacity: 0;
    }

    @include screen-md {
      width: $height-headerLogo-mobile;
      height: $height-headerLogo-mobile;
    }
  }

  nav {
    text-transform: capitalize;
    display: flex;
  }

  .btn-logout {
    margin-left: 40px;
    cursor: pointer;

    @include gnb-default;
  }

  .nav-pc {
    .gnb {
      display: flex;
    }

    .gnb li {
      margin-left: 40px;
      text-transform: capitalize;
      @include gnb-default;

      a.active {
        @include gnb-active;
      }
    }
  }

  .media-pc {
    @include screen-md {
      display: none;
    }
  }

  .media-mobile {
    display: none;

    @include screen-md {
      display: block;
    }
  }

  .ic-menu-w {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transform-origin: center;

    &.rotate {
      transition: $transition-default;
      transition-property: transform;
      transition-delay: 5s;
    }
  }

  &.menu {
    background-color: transparent;

    .logo-b {
      opacity: 0;
    }

    .logo-w {
      opacity: 1;
    }

    .con.div::after {
      background-color: white;
    }

    .ic-menu-w {
      opacity: 1;

      &.rotate {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }


  }

}