.HomeCover {
  height: 100vh;
  // @include border-test-r;

  .con {
    height: 100%;
    position: relative;
    @include center-flex;
  }

  .wrap-img {
    position: relative;
    width: 500px;

    >img {
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;

      &.intro {
        width: 100%;
        top: 50%;

      }

      &.semicolon {
        width: 50%;
      }
    }
  }
}