.HomeMember {

  .wrap-members {
    margin-top: 50px;
    display: flex;
    overflow: scroll;

    .wrap-nth {
      flex-shrink: 0;
      width: 100%;

    }

    .title-nth {
      @include h2;
      position: relative;
    }
  }

  .wrap-member {
    position: relative;
    display: flex;

    .wrap-col {
      flex-shrink: 0;
    }

  }
}