.HomeOverview {

  .wrap-text {
    margin-top: 20px;
    @include p-default;
    color: $color-gray-default;

    .text {
      width: 50%;
      line-height: 1.875;
    }
  }

  .wrap-img {
    height: 600px;
    margin-top: 40px;
    overflow: hidden;
    background-image: url('../../image/home/bg01.png');
    background-size: cover;
    background-position: center;
  }
}