.HomeMember {

  .wrap-members {

    display: flex;
    scroll-snap-type: x mandatory;

    .ListMember {
      scroll-snap-align: start;
    }

    .wrap-nth {
      flex-shrink: 0;
      width: 100%;

    }

    .title-nth {
      @include h2;
      position: sticky;
    }
  }

  .wrap-member {
    @include hideScroll;
    position: relative;
    display: flex;
    padding-top: 32px;
    overflow-x: scroll;

    .wrap-col {
      flex-shrink: 0;
      width: calc(100% /4 - #{$size-offset-pc})
    }

    .ListMember {}

  }
}