.wrapper-formTag {}

.FormTag {
  @include inputStyle;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 0;


  .wrapper-contents {
    display: flex;


    .option {
      &:nth-child(1) {
        width: 120px;
      }

      &:nth-child(2) {
        border-right: 0;
        opacity: 0.5;
      }
    }

  }

  .btn-delete {
    cursor: pointer;
  }

}