.wrapper-formTag {}

.FormTag {
  @include inputStyle;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 0;


  .wrapper-contents {
    display: flex;

    .option {
      margin-right: 16px;
      border-right: 1px solid black;
      padding-right: 16px;
    }

  }

  .btn-delete {
    cursor: pointer;
  }

}