* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

@font-face {
	font-family: 'Bodoni';
	src: url(../font/BOD_B.ttf) format('truetype');
}

@font-face {
	font-family: 'Dejavu';
	src: url(../font/DejaVuSerif.ttf) format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Dejavu';
	src: url(../font/DejaVuSerif-Bold.ttf) format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'Dejavu';
	src: url(../font/DejaVuSerif-Italic.ttf) format('truetype');
	font-style: italic;
}

body {
	position: relative;
	overflow-x: hidden;
}

/*status bar---------------------------------*/
.status_bar {
	position: fixed;
	top: calc(50vh - 136px);
	left: 3vw;
	height: 273px;
}

.status_bar li {
	width: 5px;
	height: 5px;
	background-color: black;
	margin-bottom: 20px;
	transition: all 0.5s ease-in-out;
}

.status_bar .status-active {
	height: 200px;
}

.nav-height {
	height: 75px;
	width: 100%;
	position: relative;
}

.container {
	max-width: 90%;
	margin: 0 auto;
	position: relative;
	height: 100vh;
}

.contents {
	display: block;
	position: relative;
}

nav {
	position: absolute;
	display: block;
	height: 50px;
/*	height: 380px;*/
	
	width: 100%;
	background-color: white;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	z-index: 10;
	overflow: hidden;
	
	transition: all .5s ease-in-out;
	z-index: 20;
}

.nav-container {
	max-width: 90%;
	margin: 0 auto;
	position: relative;
}

nav .gnb-logo {
	float: left;
	height: 50px;
}

nav .gnb {
	float: right;
	display: block;
}

nav .gnb a {
	float: left;
	line-height: 50px;
	font-size: 0.3rem;
	text-transform: capitalize;
	font-family: Dejavu;
	font-weight: 400;
	margin: 0 12px;
	padding: 0 12px;
}

nav .gnb a{
	color: rgba(0, 0, 0, 0.3);
}

nav .gnb a:last-child {
	margin-right: 0;
	padding-right: 0;
}

nav .gnb a:hover {
	color: rgba(0, 0, 0, 0.8);
	transition: all 0.2s ease-in;
}

nav .gnb li:last-child {
	margin-right: 0;
	padding-right: 0;
}

nav .gnb a .gnb-active {
	font-family: Dejavu;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.8);
	transition: all 0.2s ease-in;
}

nav .toggle-gnb a .gnb-active {
	font-family: Dejavu;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.8);
	transition: all 0.2s ease-in;
}

.contents01-logo {
	position: absolute;
	width: 30vw;
	left: calc(50% - 30*0.5vw);
	bottom: calc(50% - 30*0.45vw);
}


.contents01-footer {
	display: block;
	position: absolute;
	right: 0;
	bottom: -90px;
}


.bar {
	height: 180px;
	background-color: black;
	position: relative;
	z-index: 10;
	width: 0.3rem;
}

.bar_01 {
	float: right;
}

.footer-01 {
	text-align: right;
	margin-right: 32px;
	margin-top: 4px;

}

.footer-01 li {
	font-weight: 400;
	color: #808080;
	padding: 5px 0;
	font-size: 0.25rem;
	font-family: Dejavu;
	font-weight: 400;
}

.footer-01 li:first-child {
	font-weight: 700;
	color: black;
	font-size: 0.4rem;
}

.footer-01 li:last-child {
	font-size: 0.2rem;
}

.contents::before {
	display: block;
	position: relative;
	content: "";
	width: 1100px;
	max-width: 90%;
	margin: 0 auto;
	height: 1px;
	background-color: #95989A;
	z-index: -1;
}

.contents:first-child::before {
	display: block;
	display: none;
	content: "";
}

.gnb-icon {
	height: 30px;
	width: 30px;
	margin: 10px 0;
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	background-image: url(../image/menu.svg);
	visibility: hidden;
	
	transition: all .5s ease-in-out;
}

#menu {
	visibility: hidden;
	display: none;
}

.toggle-gnb {
	/*	margin: 0 auto;*/
	position: absolute;
	width: 100%;
	overflow: hidden;
	top: 90px;
	display: block;

	/*font*/
	text-align: left;
	text-transform: capitalize;
	background-color: rgba(255, 255, 255, 1);
	
}

.toggle-gnb a{
	cursor: pointer;
	
	display: block;
	position: relative;
	width: 100%;
	
	margin-bottom: 40px;
}

.toggle-gnb a li{
	color: rgba(0, 0, 0, 0.5);
	font-family: Dejavu;
	font-size: 15px;
}

.toggle-gnb a li::after {
	content: "";
	height: 1px;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
}


#menu:checked ~ .header{
	height: 380px;
}

.bg-cover{
	width: 100vw;
	height: 100vh;
	position: absolute;
	transition: all .5s ease-in-out;
}

#menu:checked ~ .bg-cover{
		background-color: rgba(0,0,0,0.5);
}

#menu:checked ~ .header .gnb-icon{
	transform: rotate3d(1,1,0,180deg);
}

.con02-text {
	width: 50%;
	position: relative;
}

.con02-bg {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	background-color: #E6E6E6;
	height: 100vh;
	z-index: -2;
}

.con02-text img {
	width: 5rem;
	user-select: none;
	margin-bottom: 20px;
}

.con02-p {
	position: absolute;
}

.con02-p p {
	font-family: Dejavu;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.44);
	line-height: 20px;
	font-size: 0.25rem;
}

.con02-p p:nth-child(2) {
	margin-bottom: 20px;

}

.con02-p p:first-child {
	font-family: Bodoni;
	font-size: 0.5rem;
	margin: 12px 0;
}


.con02-img {
	bottom: 0;
	display: block;
	position: absolute;
	width: 16rem;
}

.bar_02 {
	position: absolute;
	right: 200px;
	bottom: 80px;
	transform: rotate(90deg);
}

.bar_02_2 {
	position: absolute;
	right: 0;
	bottom: -90px;
	opacity: 1;
}


.con03-bg {
	position: absolute;
	width: 50%;
	height: 100vh;
	bottom: 0;
	background-color: #E6E6E6;
	z-index: -3;
}

.con03-bg-w {
	position: absolute;
	width: 50%;
	height: 100vh;
	bottom: 0;
	right: 0;
	background-color: white;
	z-index: 0;
}




.con-title {
	font-family: Bodoni;
	font-size: 0.8rem;
	text-transform: capitalize;
	line-height: 1.1em;
	margin-bottom: 3vh;
}

.con-titleUnderline {
	height: 5px;
	width: 4rem;
	background-color: black;
}

.con03-study {
	position: absolute;
	bottom: 50px;
	width: 12rem;
	z-index: -1;
}

.con03-inter {
	position: absolute;
	display: block;
	width: 50%;
	left: 48%;
}

.con03-inter ul {
	font-family: Dejavu;
	font-style: italic;
	font-size: 0.32rem;
	color: rgba(0, 0, 0, 0.5);
	text-align: left;
}

.con03-inter ul li {
	margin-bottom: 35px;
	cursor: pointer;
}

.input-label{
	display: block;
	width: 100%;
	height: 100%;
}

.con03-inter ul li label::after {
	position: relative;
	content: "";
	height: 2px;
	width: 100%;
	background-color: #CCCCCC;
	display: block;
	margin-top: 2px;
}

.con03-inter ul li::after{
	position: relative;
	content: "";
	height: 2px;
	width: 0%;
	background-color: black;
	display: block;
	margin-top: -2px;
	transition: all .2s ease-in-out;
}

.con03-checkbox{
	display: none;
}
/*html----------------------------*/
#con03-html:checked ~ .check-list .con03-html{
	color: rgba(0, 0, 0, 1);
	transition: all 0.2s ease-in;
}
#con03-html:checked ~ .check-list .con03-html::after{
	width: 100%;
}
#con03-html:checked ~ .con03-box #con03-box-css{
	opacity: 1;
}

/*css----------------------------*/
#con03-css:checked ~ .check-list .con03-css{
	color: rgba(0, 0, 0, 1);
	transition: all 0.2s ease-in;
}
#con03-css:checked ~ .check-list .con03-css::after{
	width: 100%;
}
#con03-css:checked ~ .con03-box .con03-box-css{
	font-family: Dejavu;
	font-style: italic;
	color: cadetblue;
	text-transform: capitalize;
	line-height: 70px;
	cursor: pointer;
}

/*js----------------------------*/
#con03-js:checked ~ .check-list .con03-js{
	color: rgba(0, 0, 0, 1);
	transition: all 0.2s ease-in;
}
#con03-js:checked ~ .check-list .con03-js::after{
	width: 100%;
}
#con03-js:un ~ .con03-box{
	
}

.con03-box {
	width: 100%;
	height: 30vh;
	background-color: white;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .2s ease-in-out;
	z-index: 20;
}
#con03-box-css{
	opacity: 0;
	transition: all .2s ease-in-out;
}

.bar03 {
	position: absolute;
	bottom: -90px;
	right: 0;
}

.con04-bg {
	position: absolute;
	background-color: #E6E6E6;
	width: 75%;
	height: 80%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.semi {
	font-family: Dejavu;
	font-size: 4rem;
	color: white;
	bottom: 1rem;
	display: block;
	position: relative;
	text-shadow: 4px 4px 16px rgba(0,0,0,0.3);

}

.con04-text {
	position: absolute;
	right: 3px;
	bottom: 80px;
}

.con04-name {
	margin-bottom: 16px;
}



.con04-name h4 {
	font-family: Bodoni;
	text-transform: capitalize;
	font-size: .4rem;
}

.con04-name h4::after {
	content: "";
	display: block;
	position: relative;
	height: 1px;
	width: 3rem;
	background-color: #808080;
	left: -5px;
	margin-bottom: 4px;
}

.con04-name p {
	font-family: Dejavu;
	font-style: italic;
	font-size: 0.3rem;
	line-height: 0.7rem;
	color: #808080;
}

.fo-container {
	width: 100%;
	height: 7%;
	text-align-last: center;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	font-family: Dejavu;
	color: #808080;
	font-size: 0.2rem;
	display: flex;
	justify-content: center;

}

.fo-container p {
	margin: 15px 0;
}

/* Study-------------------------------------------------*/

.header-fix{
	position: fixed;
}
.study-bg{
	width: 35%;
	height: 100%;
	background-color: #E6E6E6;
	position: fixed;
	left: 0;
}

.today{
	position: fixed;
}

.today h5{
	font-family: Bodoni;
	font-size: 25px;
	color: white;
	text-decoration: underline;
	margin-bottom: 20px;
}

.today p{
	font-family: Dejavu;
	margin-bottom: 10px;
	font-size: 15px;
}

.today p:last-child{
	font-size: 40px;
	font-weight: 700;
}

.study-container{
	position: absolute;
	left: 35%;
	width: 65%;
	-ms-overflow-style: none; 
}

::-webkit-scrollbar {
display:none;
}

.study-month{
	display: block;
	position: relative;
	overflow: auto;
	margin-bottom: 30px;
	opacity: 0.1;
}

.study-month:first-child, .study-month:nth-child(2){
	opacity: 1;
}

.study-month h2{
	font-family: Bodoni;
	font-size: 1rem;
	margin-bottom: -10px;
	text-transform: capitalize;
}

.study-month .month-under{
	background-color: black;
	height: 3px;
}


.study-class-week{
	display: block;
	position: relative;
	float: left;
	font-family: Dejavu;
	width: 33%;
}

.study-class-week h5{
	font-size: .3rem;
	color: #333333;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 10px;
}



.study-class-week p{
	font-size: 0.25rem;
	color: #808080;
	margin-bottom: 8px;
}

.study-clear{
	clear: both;
}

.study-source{
}
.study-source p{
	font-style: italic;
	font-family: Dejavu;
	font-weight: 700;
	font-size: 0.2rem;
	margin-top: 10px;
}


/*반응형 작업----------------------------------------------*/

/*mobile*/

@media screen and (max-width:600px) {
	html {
		font-size: 40px;
	}


	nav .gnb-logo {
		height: 50px;
	}

	.container,
	.nav-container,{
		width: 400px;
	}

	/*gnb height*/
	.gnb {
		display: none;
		visibility: hidden;
	}
	.gnb-icon {
		display: block;
		visibility: visible;
	}

	/*con02----------------------*/
	.con02-text {
		width: 90%;
	}
	.con02-bg {
		width: 100%;
	}
	.con02-img {
		display: none;
	}

	.bar_02 {
		display: none;
	}

	/*con03-------------------------*/
	.con03-study {
		display: none;
	}
	.con03-inter {
		margin-top: 30px;
		width: 100%;
		left: 0;
	}

	/*con04-------------------------*/
	.con04-text {
		left: 3px;
	}
	
	.status_bar {
		display: none;
	}
	
	.con04-bg{
		background-color: transparent;
		z-index: 10;
		transition: all .2s ease-in-out;
		
	}
	.contents:last-child{
		background-color: #E6E6E6;
	}
	.semi{
		font-size: 4rem;
	}
	
	
	/*study-------------------*/
	.study-bg{
		width: 100%;
		height: 4.3rem;
		background-color: #E6E6E6;
		position: absolute;
		left: 0;
	}
	
	
	
	.today{
	position: relative;
	}

	.today h5{
		font-family: Bodoni;
		font-size: 20px;
		color: white;
		text-decoration: underline;
		margin-bottom: 10px;
	}

	.today p{
		font-family: Dejavu;
		margin-bottom: 8px;
		font-size: 14px;
	}

	.today p:last-child{
		font-size: 25px;
		font-weight: 700;
	}
	.study-container{
		position: absolute;
		left: 0;
		padding-top: 10px;
		width: 100%;
		-ms-overflow-style: none; 
	}
	.study-class-week{
		display: block;
		position: relative;
		float: left;
		font-family: Dejavu;
		width: 100%;
	}

	.study-class-week h5{
		font-size: .3rem;
		color: #333333;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.study-class-week p{
		font-size: 0.25rem;
		color: #808080;
		margin-bottom: 8px;
		float: left;
	}
}

/*tablet*/
@media screen and (min-width:600px) and (max-width:991px) {
	html {
		font-size: 40px;
	}
	.container,
	.nav-container,
	.toggle-gnb {
		width: 550px;
	}


	nav .gnb-logo {
		height: 50px;
	}

	.gnb {
		display: none;
		visibility: hidden;
	}
	.gnb-icon {
		display: block;
		visibility: visible;
	}
	/*con02----------------------*/
	.con02-text {
		width: 100%;
	}
	.con02-bg {
		width: 100%;

	}

	.con02-img {
		width: 12rem;
		right: calc(50% - 6rem);
	}

	.bar_02_2 {
		opacity: 1;
	}
	/*con03-------------------------*/
	.con03-study {
		display: none;
	}
	.con03-inter {
		margin-top: 30px;
		width: 100%;
		left: 0;
	}
		.status_bar {
	display: none;
}
	
	/*study-------------------*/
	.study-bg{
		width: 100%;
		height: 20%;
		background-color: #E6E6E6;
		position: absolute;
		left: 0;
	}
	
	.today{
	position: relative;
	}

	.today h5{
		font-family: Bodoni;
		font-size: 20px;
		color: white;
		text-decoration: underline;
		margin-bottom: 10px;
	}

	.today p{
		font-family: Dejavu;
		margin-bottom: 8px;
		font-size: 14px;
	}

	.today p:last-child{
		font-size: 25px;
		font-weight: 700;
	}
	.study-container{
		position: absolute;
		left: 0;
		padding-top: 10px;
		width: 100%;
		-ms-overflow-style: none; 
	}
}

/*desktop*/

@media screen and (min-width:992px) and (max-width:1200px) {
	html {
		font-size: 50px;
	}
	.container,
	.nav-container {
		width: 960px;
	}

	.bar {
		width: 0.3rem;
	}
	.gnb {
		display: block;
		visibility: visible;
	}
	.gnb-icon {
		display: none;
		visibility: hidden;
	}
	.con02-p p:last-child {
		width: 90%;
	}
	.con02-img {
		width: 700px;
		right: 0;
	}
	.status_bar {
	display: none;
}
}

/*full screen*/

@media screen and (min-width:1200px) {
	html {
		font-size: 50px;
	}
	.container,
	.nav-container {
		width: 1400px;
	}
	.gnb {
		display: block;
		visibility: visible;
	}
	.gnb-icon {
		display: none;
		visibility: hidden;
	}
	.con02-p p {
		width: 80%;
		line-height: 30px;
	}
	.con02-img {
		right: 0;
	}
}