.Btnicon {
	@include center-flex;
	position: relative;
	width: 32px;
	height: 32px;
	opacity: 1;
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}

	@mixin pcscreen {
		&:hover {
			opacity: 0.5;
		}
	}
}
