.ListMember {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;


  .wrap-name {
    @include h3;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: flex-start;
    position: relative;
    align-self: flex-start;

    p {
      flex-grow: 0;
      flex-shrink: 0;
      align-self: flex-start;
      position: relative;
    }

    @include listUnderline;

  }

  .wrap-info {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;

    .list {
      width: 50%;
      margin-bottom: 8px;
      font-size: 1rem;
      font-style: italic;
      font-weight: 100;

      a {
        color: $color-main;
      }

    }
  }
}