.ListContact {
  display: flex;
  margin-bottom: 2rem;
  width: calc(50% - #{$size-offset-pc/2});
  flex-shrink: 0;
  flex-grow: 0;

  @include screen-md {
    width: 100%;
  }

  .col:last-child {
    flex-grow: 1;
  }

  .avatar {
    width: $size-contactlist-avatar-pc;
    height: $size-contactlist-avatar-pc;
    @include fullBg();
    border-radius: 999px;
    background-color: white;
    border: 1px solid black;
    margin-right: 24px;

    @include screen-md {
      width: $size-contactlist-avatar-mobile;
      height: $size-contactlist-avatar-mobile;
    }
  }

  .name {
    @include listUnderline;
    @include h3;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 1rem;

    @include screen-md {
      margin-bottom: 12px;
    }
  }

  .contact {

    >.item {
      margin-bottom: 8px;
      display: flex;
      font-size: 1rem;

      .key {
        width: 72px;
        font-weight: 700;

        @include screen-md {
          width: 48px;
        }
      }

      .value {
        color: $color-gray-default;
      }
    }
  }
}