.Loading {
  position: fixed;
  top: $height-header-pc;
  left: 0;
  height: calc(#{$height-full} - #{$height-header-pc});
  width: 100%;
  z-index: $z-loading;
  background-color: $color-gray-light;
  padding: 5rem 0;
  transition: $transition-default;
  transition-duration: .2s;
  opacity: 0;
  @include prevent-event;
  transition-delay: .5s;

  &.isAdmin {
    z-index: $z-loading-admin;
    top: 0;
    height: $height-full;
  }

  &.active {
    @include active-event;
    opacity: 1;
  }

  .semicolon {
    width: 32px;
    margin-right: 8px;
    margin-bottom: 32px;
  }

  @include screen-md {
    padding: 2rem 0;

    .semicolon {
      width: 24px;
    }
  }

}