.Loading {
  position: fixed;
  top: $height-header-pc;
  left: 0;
  height: calc(#{$height-full} - #{$height-header-pc});
  width: 100%;
  z-index: $z-loading;
  background-color: $color-gray-light;
  padding: 5rem;
  transition: $transition-default;
  opacity: 0;
  @include prevent-event;
  transition-delay: .5s;

  &.active {
    opacity: 1;
  }

  .semicolon {
    // border: 1px solid red;
    width: 32px;
    margin-right: 8px;
    margin-bottom: 32px;
  }
}