// - DEFAULT - 
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

  box-sizing: border-box;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
}

@mixin border-test-b {
  border: 2px solid black;
}

@mixin border-test-r {
  border: 2px solid red;
}


// - FONT - 
html {
  @include screen-md {
    font-size: 14px;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $color-gray-light;
}

// - ITEM - 
.div::after {
  content: '';
  display: block;
  height: 1px;
  color: $color-main;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color-main;
}

// - LAYOUT - 
.con {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

@mixin display-mobile {
  display: none;

  @include screen-md {
    display: block;
  }
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hideScroll {
  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin fullBg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin listUnderline {
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 5px;
    right: 0;
    height: 2px;
    background-color: $color-main;

    @include screen-md {
      bottom: 2px;
      height: 1px;
    }
  }


}

@mixin paddingHeader {
  padding-top: $height-headerLogo-pc;

  @include screen-md {
    padding-top: $height-headerLogo-mobile;
  }
}

.paddingHeader {
  @include paddingHeader;
}


@mixin paddingDefualt {
  padding-top: $height-headerLogo-pc + 100px;
  min-height: 100vh;

  @include screen-md {
    padding-top: $height-headerLogo-mobile;

  }
}

.paddingDefualt {
  @include paddingDefualt;
}